@use "../utils/variables" as *;
@use "../base/typography" as *;

.description {
  &-button-link {
    text-decoration: none;
    background: rgb(147, 86, 220);
    background: linear-gradient(
      0deg,
      rgba(147, 86, 220, 1) 25%,
      rgba(255, 121, 218, 1) 100%
    );
    color: $color8;
    border: none;
    border-radius: 90px;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    margin-bottom: 4vh;
    cursor: pointer;
    font-size: 3.2vw;
    transition: all 0.3s;
    box-shadow: 0px 0px 7px $color1;
    font-weight: 500;

    &:hover {
      background: rgb(147, 86, 220);
      background: linear-gradient(
        0deg,
        rgba(147, 86, 220, 1) 20%,
        rgba(255, 121, 218, 1) 75%
      );
      box-shadow: 0px 0px 24px $color1;
    }

    &:not(:hover) {
      background: rgb(147, 86, 220);
      background: linear-gradient(
        0deg,
        rgba(147, 86, 220, 1) 25%,
        rgba(255, 121, 218, 1) 100%
      );
      box-shadow: 0px 0px 7px $color1;
    }
  }
}

.commander {
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 12vh;
  padding-bottom: 6vh;

  &-link {
    color: $color8;
    text-decoration: none;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background: rgb(147, 86, 220);
    background: linear-gradient(
      0deg,
      rgba(147, 86, 220, 1) 25%,
      rgba(255, 121, 218, 1) 100%
    );
    border-radius: 75px;
    font-size: 4vw;
    box-shadow: 0px 0px 7px $color1;

    &:hover {
      background: rgb(147, 86, 220);
      background: linear-gradient(
        0deg,
        rgba(147, 86, 220, 1) 20%,
        rgba(255, 121, 218, 1) 75%
      );
      box-shadow: 0px 0px 24px $color1;
    }

    &:not(:hover) {
      background: rgb(147, 86, 220);
      background: linear-gradient(
        0deg,
        rgba(147, 86, 220, 1) 25%,
        rgba(255, 121, 218, 1) 100%
      );
      box-shadow: 0px 0px 7px $color1;
    }
  }
}

@media (min-width: 1025px) {
  .description {
    &-button-link {
      margin-bottom: 2vh;
      font-size: 1.1vw;
      padding-left: 1.5vw;
      padding-right: 1.5vw;
    }
  }

  .commander {
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: $color13;
    padding-top: 6vh;
    margin-bottom: 12vh;
    margin-top: 0;

    &-link {
      padding-left: 3vw;
      padding-right: 3vw;
      padding-top: 1vh;
      padding-bottom: 1vh;
      font-size: 1vw;
    }
  }
}
