@use "../base/typography" as *;
@use "../utils/variables" as *;

.restaurants {
  &-article {
    margin-left: 17px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;

    &-top {
      position: relative;
      overflow: hidden;
      border-radius: 15px 15px 0 0;
      height: 180px;
    }

    &-image {
      width: 100%;
      display: block;
      object-fit: cover;
      object-position: bottom;
    }

    &-new {
      font-size: 14px;
      text-align: center;
      padding: 7px 12px 6px 12px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
      position: absolute;
      top: 15px;
      right: 15px;
      background-color: $color3;
      color: $color5;
      z-index: 3;
    }

    &-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-radius: 0 0 15px 15px;
      background-color: $color8;
    }

    &-description {
      font-weight: 300;
      font-size: 17px;
      padding-left: 13px;
      padding-top: 16px;
      line-height: 1.4;
      padding-bottom: 12px;

      & h3 {
        font-size: 18px;
        font-weight: 700;
      }
    }

    &-like {
      position: relative;
      .fa-heart {
        color: $color14;
        font-size: x-large;
        position: absolute;
        top: 25px;
        right: 25px;
        opacity: 0;
        transition: all 0.3s ease-in-out; /* Ajout de la transition */
        z-index: 2;
      }

      .fas {
        background-image: $gradient1;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        z-index: 2;
      }

      .fas:hover {
        transform: scale(1.2); /* Ajout de l'animation */
      }

      .far {
        opacity: 1;
        z-index: 1;
      }

      &:hover .fas {
        opacity: 1;
        cursor: pointer;
      }

      &:hover .far {
        opacity: 0;
      }
    }
  }
}

@media (min-width: $tablet-breakpoint) {
  .restaurants-articles {
    margin-left: -10px;
    margin-right: 10px;
  }

  .restaurants-title {
    margin-left: 40px;
  }
  .restaurants-article {
    width: 350px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .restaurants {
    &-articles {
      margin-right: -4vw;
      margin-left: -1vw;
      margin-bottom: -120px;
    }
    &-article {
      width: 31.5vw;
      padding-right: 4vw;
      padding-top: 25px;

      &-image {
        margin-top: -120px;
      }
    }
  }
}
