$color1: #9356dc;
$color2: #ff79da;
$color3: #99e2d0;
$color4: #f3f3f3;
$color5: #008766;
$color6: #89c8fa;
$color7: #003a68;
$color8: #ffffff;
$color9: #eaeaea;
$color10: #d2d2d2;
$color11: #353535;
$color12: #7e7e7e;
$color13: #f6f6f6;
$color14: #000000;
$color15: #101010;
$gradient1: linear-gradient(175deg, $color1 0%, $color2 100%);
$gradient2: linear-gradient(175deg, $color1 0%, $color2 60%);
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 769px;
