@use "../utils/variables" as *;
@use "../base/typography" as *;

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $color8;
  position: fixed; /* Position fixe absolue par rapport à la fenêtre du navigateur */
  z-index: 9999; /* Placer au-dessus de tout */
  pointer-events: none;
  animation: fade-out 1s ease-in-out 2s forwards;
}

.loader__spinner {
  width: 50px;
  height: 50px;
  border: 3px solid $color1;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spinner-anim 1s ease-in-out infinite;
}

.top-logo {
  justify-content: center;
  display: flex;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  /* height: 8vh;*/

  &-img {
    height: 36px;
    padding: 0px 19px 0px 16px;
    margin-top: 14px;
    margin-bottom: 13px;
    /*width: 40vw;*/
  }
}

.top-location {
  background-color: $color9;
  /*height: 6vh;*/
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-text;
  font-size: 16px;
  /*font-size: 4vw;
    padding-left: 32vw;
    padding-right: 35vw;*/
  color: $color11;
  /*border-top: $color11 1px solid;*/
  font-weight: 500;

  .fa-location-dot {
    margin-right: 17px;
  }
}

.description {
  background-color: $color13;
  font-family: $font-text;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 60px;
  /*padding-top: 4vh;
  padding-bottom: 4vh;*/

  &-title {
    font-weight: 700;
    font-size: 24px;
    margin-left: 42px;
    margin-right: 58px;
    margin-bottom: 10px;
    /*padding-left: 15vw;
    padding-right: 15vw;
    font-size: 6vw;
    padding-bottom: 27px;*/
  }

  &-text {
    font-weight: 300;
    font-size: 18px;
    margin-left: 34px;
    margin-right: 26px;
    margin-bottom: 45px;
    /*font-size: 4vw;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 27px;*/
    color: $color11;
    /*margin-bottom: 2vh;*/
  }
}

.fonctionnement {
  font-family: $font-text;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 68px;
  /*padding-top: 5vh;
  padding-bottom: 10vh;
  padding-left: 2vw;
  padding-right: 2vw;*/

  &-title {
    margin-top: 48px;
    font-weight: 700;
    font-size: 24px;
    /*font-size: 7vw;
    margin-bottom: 2vh;
    margin-left: 4vw;*/
  }

  &-list {
    list-style-type: none;
    counter-reset: mycounter;
    /*margin-left: 1.5em;*/

    &-etapes {
      border-radius: 20px;
      margin-top: 24px;
      font-size: 16px;
      padding-top: 28px;
      padding-bottom: 28px;
      /*margin-top: 4vh;*/
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      /* font-size: 5vw;
      border-radius: 50px;
      height: 9vh;
      width: 90vw;*/
      background-color: $color13;
      font-weight: 500;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

      &-logo {
        margin-left: 22px;
        margin-right: 27px;
        /* margin-left: 6vw;
        margin-right: 6vw;*/
        color: $color12;
        font-size: x-large;
      }

      &-logo__color1 {
        font-size: x-large;
        color: $color1;
        margin-left: 22px;
        margin-right: 27px;
        /*margin-left: 6vw;
        margin-right: 6vw;*/
      }

      &::before {
        font-size: 14px;
        content: counter(mycounter);
        counter-increment: mycounter;
        display: inline-block;
        /* width: 5vw;
        height: 5vw;*/
        border-radius: 50%;
        text-align: center;
        color: $color8;
        background-color: $color1;
        padding: 3px 7px;
        margin-left: -10px;
        /* font-size: 40px;
        margin-left: -2vw;*/
      }
    }
  }
}

.restaurants {
  font-family: $font-text;
  background-color: $color13;
  padding-top: 48px;
  padding-bottom: 60px;
  /* padding-top: 6vh;
  padding-bottom: 8vh;*/

  &-title {
    font-weight: 700;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 24px;
    /* font-size: 7vw;
    margin-bottom: 3vh;
    margin-left: 6vw;*/
  }
}

@media (min-width: 768px) {
  .fonctionnement-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;

    &-etapes {
      width: 30vw;
    }
  }

  .restaurants-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 1025px) {
  .top {
    &-logo {
      &-img {
        height: 2vw;
      }
    }

    &-location {
      font-size: 1vw;
      padding-left: 45vw;
      padding-right: 45vw;
      border-top: none;
    }
  }

  .description {
    &-title {
      font-size: 2.5vw;
    }

    &-text {
      margin-left: 6vw;
      margin-right: 6vw;
      font-size: 1.2vw;
      margin-bottom: 2vh;
    }
  }

  .fonctionnement {
    padding: 0;

    &-title {
      font-size: 2vw;
      padding-top: 6vh;
      margin-left: 18vw;
    }

    &-list {
      margin-bottom: 6vh;
      margin-top: -1vh;
      display: flex;
      flex-direction: row;
      justify-content: center;

      &-etapes {
        margin-top: 4vh;
        font-size: 1vw;
        height: 9vh;
        width: 20vw;
        margin-left: 1vw;
        margin-right: 1vw;

        &-logo {
          margin-left: 1.5vw;
          margin-right: 1.5vw;

          &__color1 {
            margin-left: 1.5vw;
            margin-right: 1.5vw;
          }
        }

        &::before {
          width: 1.5vw;
          height: 1.5vw;
          font-size: 1.5vw;
          margin-left: -0.5vw;
        }
      }
    }
  }

  .restaurants {
    padding-top: 5vh;

    &-title {
      font-size: 2vw;
      margin-bottom: 4vh;
      margin-left: 18vw;
    }

    &-articles {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 3vh;
      flex-wrap: wrap;
      margin-left: 18vw;
      margin-right: 14vw;
    }
  }
}
