*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  
:root {
  --color1: #9356DC;
  --color2: #FF79DA;
  --color3: #99E2D0;
  --color4: #F3F3F3;
  --color5: #008766;
  --color6: #89C8FA;
  --color7: #003A68;
  --color8: #FFFFFF;
  --color9: #EAEAEA;
  --color10: #D2D2D2;
  --color11: #353535;
  --color12: #7E7E7E;
  --color13: #F6F6F6;
  --font-title: 'Shrikhand';
  --font-text: 'Roboto';
}



  html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--color8);
  }

  .top {
    display: flex;
    flex-direction: column;
    text-align: center;

    &-logo{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 8vh;

      &-img{
        width: 40vw;
      }
    }
  
    &-location {
      background-color: var(--color9);
      height: 6vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: var(--font-text);
      font-size: 4vw;
      padding-left: 32vw;
      padding-right: 35vw;
      color: var(--color11);
      border-top: var(--color11) 1px solid;
    }
  }

  .description{
    background-color: var(--color13);
    font-family: var(--font-text);
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 4vh;

    &-title{
    font-weight: 700;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 6vw;
    padding-bottom: 27px;
    }

    &-text{
      font-size: 4vw;
      padding-left: 6vw;
      padding-right: 6vw;
      padding-bottom: 27px;
      color: var(--color11);
    }

    &-button{
      background-color: var(--color1);
      color: var(--color8);
      border: none;
      border-radius: 90px;
      padding: 10px 20px;
      font-weight: 700;
      margin-top: 2vh;
      margin-bottom: 4vh;
      cursor: pointer;
      height: 8vh;
      width: 52vw;
      font-size: 3.5vw;
      transition: all 0.3s;
      box-shadow: 0px 0px 14px var(--color2);

      &-link{
        text-decoration: none;
        color: var(--color8);
      }

      &:hover{
        background-image: linear-gradient(to top, var(--color1), var(--color2));
        box-shadow: 0px 0px 32px var(--color2);
      }
    }

  }

  .fonctionnement{

    padding-top: 5vh;
    padding-bottom: 10vh;
    padding-left: 2vw;
    padding-right: 2vw;

    &-title{
      font-size: 7vw;
      margin-bottom: 2vh;
      margin-left: 4vw;
    }

    &-list{
      list-style-type: none;
      counter-reset: mycounter;
      margin-left: 1.5em;

      &-etapes{
        margin-top: 4vh;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        font-size: 5vw;
        border-radius: 50px;
        height: 9vh;
        width: 90vw;
        background-color: var(--color13);
        font-weight: bold;
        box-shadow: 2px 2px 5px var(--color12);


        &-logo{
          margin-left: 6vw;
          margin-right: 6vw;
          color: var(--color12);
        }

        &-logo__color1{
          color: var(--color1);
          margin-left: 6vw;
          margin-right: 6vw;
        }

        &::before{
          content: counter(mycounter);
          counter-increment: mycounter;
          display: inline-block;
          width: 5vw;
          height: 5vw;
          border-radius: 50%;
          text-align: center;
          color: white;
          background-color: var(--color1);    
          font-size: 40px;
          margin-left: -2vw;
        }
      }
    }

  }

  .restaurants{
    background-color: var(--color13);
    padding-top: 6vh;
    padding-bottom: 8vh;

    &-title{
      font-size: 7vw;
      margin-bottom: 3vh;
      margin-left: 6vw;
    }

    &-article{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 3vh;

      &-top{
        position: relative;
        overflow: hidden;
        border-radius: 5% 5% 0 0;
        width: 90vw;
      }

      &-image{
        width: 100%;
        height: 26vh;
        display: block;
        object-fit: cover;
        object-position: bottom;
      }

      &-new{
        width: 25vw;
        position: absolute;
        top: 2vh;
        right: 4vw;
      }

      &-bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 0 0 5% 5%;
        width: 90vw;
        background-color: var(--color8);
      }

      &-description{
        font-size: 4.5vw;
        padding-left: 5vw;
        padding-top: 2vh;
        line-height: 1.4;
        padding-bottom: 2vh;
      }

      &-like{
        width: 12vw;
        height: 6vh;
        padding-top: 3vh;
        padding-right: 6vw;
      }
    }
  }

  .bottom{
    background-color: var(--color11);
    color: var(--color8);
    padding-left: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;

    &-logo{
      margin-bottom: 3vh;
      filter: invert(100%);
    }

    &-list{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      font-size: 4vw;

      &-item{

        &-utensils{
          margin-right: 4vw;
          padding-top: 1vh;
        }

        &-shake{
          margin-right: 3vw;
          padding-top: 1vh;
        }
        
      }

      &-link{
        color: var(--color8);
        text-decoration: none;
        margin-bottom: 1vh;
        display: flex;
        flex-direction: row;
      }
    }

  }