*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  
:root {
  --color1: #9356DC;
  --color2: #FF79DA;
  --color3: #99E2D0;
  --color4: #F3F3F3;
  --color5: #008766;
  --color6: #89C8FA;
  --color7: #003A68;
  --color8: #FFFFFF;
  --color9: #EAEAEA;
  --color10: #D2D2D2;
  --color11: #353535;
  --font-title: 'Shrikhand';
  --font-text: 'Roboto';
}



  html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--color8);
  }

  .top {
    display: flex;
    flex-direction: column;
    text-align: center;

    &-logo{
      height: 6vh; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &-location {
      background-color: var(--color9);
      height: 4vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: var(--font-text);
      font-size: 24px;
      padding-left: 40vw;
      padding-right: 40vw;
      color: var(--color11);
    }
  }

  .description{
    background-color: var(--color4);
    font-family: var(--font-text);
    text-align: center;
    padding-top: 39px;
    padding-bottom: 39px;

    &-title{
    font-weight: 700;
    padding-left: 25vw;
    padding-right: 25vw;
    font-size: 24px;
    padding-bottom: 27px;
    }

    &-text{
      font-size: 16px;
      padding-left: 12vw;
      padding-right: 12vw;
      padding-bottom: 27px;
      color: var(--color11);
    }

    &-button{
      background-image: linear-gradient(to right, var(--color2), var(--color1));
      color: var(--color8);
      border: none;
      border-radius: 40px;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 700;
      margin-top: 2vh;
      margin-bottom: 4vh;
      cursor: pointer;
      height: 4vh;
      width: 40vw;
      font-size: 22px;
    }

  }